* {
    text-align: center;
}

h1 {
    background-color: darkgoldenrod;
}

h3{
    color: navy;
    font-style: italic;
    border: solid darkgoldenrod;
    width: max-content;
    margin: 0px auto;
    padding: 2px;
}

li {
    text-align: left;
}

.link {
    color: black;
    font-weight: 600;
}

#front {
    text-align: center;
    background-color: lightblue;
    padding: 3px;
    margin: 30%;
    margin-top: 0%;
    border: 1px solid black;
}